@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

p {
  font-size: 16px;
}

li:after {
  content: " ";
  width: 0%;
  position: absolute;
  background-color: black;
  height: 4px;
  background-color: hsl(26, 100%, 55%);
  bottom: -44px;
  left: 0;
}

li:hover:after {
  width: 100%;
}

.active-burger-menu::after {
  content: "";
  position: fixed;
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  left: 60%;
  top: 0;
}

/* LIGHTBOX */
.fslightbox-source {
  width: 37rem !important;
  height: 37rem !important;
}

.fslightbox-slide-btn-container-previous {
  left: 35.6rem; 
}

.fslightbox-slide-btn-container-next {
  right: 35.6rem; 
}

.fslightbox-slide-btn svg {
  display: none;
}

.fslightbox-slide-btn {
  background-color: white;
  height: 70px;
  width: 70px;
  border-radius: 50%;

}

.fslightbox-source {
  height: 10px;
  border-radius: 15px;
}