@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

p {
  font-size: 16px;
}

/* NAVBAR */
li:after {
  content: " ";
  width: 0%;
  position: absolute;
  background-color: black;
  height: 4px;
  background-color: hsl(26, 100%, 55%);
  bottom: -44px;
  left: 0;
}

li:hover:after {
  width: 100%;
}

.active-burger-menu::after {
  content: "";
  position: fixed;
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  left: 60%;
  top: 0;
}

/* LIGHTBOX */
.fslightbox-toolbar {
  top: 80%;
  right: 2%;
  background: none;
}

.fslightbox-slide-number-container {
  display: none !important;
}

.fslightbox-toolbar-button:nth-child(1) {
  display: none;
}

.fslightbox-container * {
  display: flex;
  justify-content: center;
}

.fslightbox-source {
  width: 65% !important;
  height: 65% !important;
  border-radius: 15px;
}

.fslightbox-slide-btn-container-previous {
  right: 36.8rem;
}

.fslightbox-slide-btn-container-next {
  left: 36.8rem;
}

.fslightbox-slide-btn {
  background-color: white;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.fslightbox-toolbar-button svg {
  width: 35px;
  height: 35px;
}

.fslightbox-toolbar-button .fslightbox-svg-path {
  fill: orange !important;
}

@media (max-width: 1200px) {
  body {
    margin-right: 0px !important;
  }

  .fslightbox-container {
    display: none;
  }
}

@media (max-width: 1000px) {
  .fslightbox-slide-btn {
    height: 50px;
    width: 50px;
  }

  .fslightbox-slide-btn-container-previous {
    right: 62%;
  }

  .fslightbox-slide-btn-container-next {
    left: 62%;
  }
}