@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar {
    @apply grid grid-cols-navbar
    mx-48 my-7 gap-6 items-center;
  }

  .link {
    @apply text-darkGrayishBlue hover:text-black relative;
  }

  .avatar {
    @apply w-12 cursor-pointer 
    hover:outline outline-2 outline-orange rounded-full;
  }

  .thumbnail-container {
    @apply w-[13.8%] cursor-pointer rounded-lg
    hover:outline outline-[3px] outline-orange;
  }

  .thumbnail {
    @apply rounded-lg hover:opacity-40;
  }

  .fifty-percent {
    @apply py-[2px] px-[10px] self-center rounded-md 
    text-base font-bold bg-paleOrange text-orange;
  }

  .math-icon { 
    @apply p-4 text-orange hover:text-lightOrange;
  }

  .addToCart-button {
    @apply flex rounded-lg w-72 h-14 justify-center 
    bg-orange shadow-addToCart shadow-orange
    hover:bg-lightOrange;
  }
}
